<div class="card mt-5" id="app">
  <div class="card-header">
    <h3 class="card-title">Authentication Setting</h3>
  </div>
  <div class="card-body">
    <form novalidate>
      <div v-if="message" class="alert alert-info">
        {{ message }}
      </div>

      <div class="mb-3 row">
        <label for="username" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" :class="{'form-control': true, 'is-invalid': error.username }" v-model="formModel.username"
            placeholder="Username">
          <div class="invalid-feedback" v-if="error.username">
            {{ error.username.join(', ') }}
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" :class="{'form-control': true, 'is-invalid': error.password}"
            v-model="formModel.password" placeholder="Password">
          <div class="invalid-feedback" v-if="error.password">
            {{ error.password.join(', ') }}
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="repeatPassword" class="col-sm-3 col-form-label">Repeat Password</label>
        <div class="col-sm-9">
          <input type="password" :class="{'form-control': true, 'is-invalid': error.repeatPassword}"
            v-model="formModel.repeatPassword" placeholder="Repeat Password">
          <div class="invalid-feedback" v-if="error.repeatPassword">
            {{ error.repeatPassword.join(', ') }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary" @click="update">Save</button>
  </div>
</div>

<script type="module">
  const { createApp } = Vue

  createApp({
    data() {
      return {
        formModel: {},
        error: {},
        message: null
      }
    },

    methods: {
      getData() {
        axios.get('/api/auth')
          .then(res => {
            this.formModel = res.data;
          })
          .catch(err => console.log(err))
      },

      async update() {
        try {
          const res = await axios.put(`/api/auth`, this.formModel)
          this.notifyAndRefresh(res.data)
        } catch (error) {
          const { name, errors } = error.response.data
          if (name == 'ValidationError') {
            this.error = errors
          }
        }
      },

      notifyAndRefresh({ message, config }) {
        this.error = {}
        this.formModel = config
        this.message = message

        setTimeout(() => {
          this.message = null
        }, 5000)
      }
    },

    mounted() {
      this.getData()
    },
  }).mount('#app')

</script>