<div class="card mt-5" id="app">
  <div class="card-header">
    <h3 class="card-title">MQTT Broker Setting</h3>
  </div>
  <div class="card-body">
    <form novalidate>
      <div v-if="message" class="alert alert-info">
        {{ message }}
      </div>
      <div class="mb-3 row">
        <label for="host" class="col-sm-3 col-form-label">MQTT Broker Host</label>
        <div class="col-sm-9">
          <input type="text" :class="{'form-control': true, 'is-invalid': error.host }" v-model="formModel.host"
            placeholder="localhost">
          <div class="invalid-feedback" v-if="error.host">
            {{ error.host.join(', ') }}
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="port" class="col-sm-3 col-form-label">MQTT Broker Port</label>
        <div class="col-sm-9">
          <input type="number" :class="{'form-control': true, 'is-invalid': error.port }" v-model="formModel.port"
            placeholder="1883">
          <div class="invalid-feedback" v-if="error.port">
            {{ error.port.join(', ') }}
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="username" class="col-sm-3 col-form-label">MQTT Broker Username</label>
        <div class="col-sm-9">
          <input type="text" :class="{'form-control': true, 'is-invalid': error.username }" v-model="formModel.username"
            placeholder="Username">
          <div class="invalid-feedback" v-if="error.username">
            {{ error.username.join(', ') }}
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="password" class="col-sm-3 col-form-label">MQTT Broker Password</label>
        <div class="col-sm-9">
          <input type="password" :class="{'form-control': true, 'is-invalid': error.password}"
            v-model="formModel.password" placeholder="Password">
          <div class="invalid-feedback" v-if="error.password">
            {{ error.password.join(', ') }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary m-3" @click="update">Save</button>
    <button type="button" class="btn btn-danger" @click="restart">Restart MQTT Service</button>
  </div>
</div>

<script type="module">
  const { createApp } = Vue

  createApp({
    data() {
      return {
        formModel: {},
        error: {},
        message: null
      }
    },

    methods: {
      getData() {
        axios.get('/api/config/mqtt')
          .then(res => {
            this.formModel = res.data;
          })
          .catch(err => console.log(err))
      },

      async update() {
        try {
          const res = await axios.put(`/api/config/mqtt`, this.formModel)
          this.notifyAndRefresh(res.data)
        } catch (error) {
          const { name, errors } = error.response.data
          if (name == 'ValidationError') {
            this.error = errors
          }
        }
      },

      async restart() {
        try {
          const res = await axios.post(`/api/mqtt/restart`)
          this.notifyAndRefresh(res.data)
        } catch (error) {
          const { message } = error.response.data
          this.message = message

          setTimeout(() => {
            this.message = null
          }, 5000)
        }
      },

      notifyAndRefresh({ message, config }) {
        if (config) this.formModel = config
        this.error = {}
        this.message = message

        setTimeout(() => {
          this.message = null
        }, 5000)
      }
    },

    mounted() {
      this.getData()
    },
  }).mount('#app')

</script>