<h1 class="my-5 text-center">Gate Command & Response</h1>
<h3 class="my-4">Command</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Command</th>
      <th>Description</th>
      <th>Response</th>
      <th>Contoh Command</th>
    </tr>
  </thead>

  <tbody>
    <% commands.forEach(c=> { %>
      <tr>
        <td>
          <%= c.command %>
        </td>
        <td>
          <%= c.description %>
        </td>
        <td>
          <%= c.response %>
        </td>
        <td>
          <%= c.example || c.command %>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>

<h3 class="my-4">Response</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Response</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% responses.forEach(c=> { %>
      <tr>
        <td>
          <%= c.response %>
        </td>
        <td>
          <%= c.description %>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>