<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KIK Gate</title>
  <link href="/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1 class="text-center my-5">LOGIN</h1>
    <% if (error) { %>
      <div class="text-center text-danger my-5">
        <%= error %>
      </div>
      <% } %>

        <form action="/login" method="post" style="width: 300px; margin: 0px auto">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" value="<%= username %>">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" value="<%= password %>">
          </div>

          <div>
            <button type="submit" class="btn btn-primary" style="width:100%">Login</button>
          </div>

        </form>
  </div>

</body>

</html>