<form novalidate>
  <div class="mb-3 row">
    <label for="name" class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input type="text" :class="{'form-control': true, 'is-invalid': error.name }" name="name" id="name"
        v-model="formModel.name" placeholder="Gate Name">
      <div class="invalid-feedback" v-if="error.name">
        {{ error.name.join(', ') }}
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="host" class="col-sm-3 col-form-label">Host</label>
    <div class="col-sm-9">
      <input type="text" :class="{'form-control': true, 'is-invalid': error.host }" name="host" id="host"
        v-model="formModel.host" placeholder="192.168.1.100">
      <div class="invalid-feedback" v-if="error.host">
        {{ error.host.join(', ') }}
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="port" class="col-sm-3 col-form-label">Port</label>
    <div class="col-sm-9">
      <input type="number" :class="{'form-control': true, 'is-invalid': error.port }" name="port" id="port"
        v-model="formModel.port" placeholder="5000">
      <div class="invalid-feedback" v-if="error.port">
        {{ error.port.join(', ') }}
      </div>
    </div>
  </div>

  <div class="mb-3 row" v-for="c in ['cameraIn', 'cameraOut']" :key="c">
    <label for="cameraIn" class="col-sm-3 col-form-label">{{c}}</label>
    <div class="col-sm-9">
      <input type="text" :class="{'form-control': true, 'is-invalid': error[c] }" id="cameraIn"
        v-model="formModel[c].snapshotUrl" placeholder="Snapshot URL"> <br>

      <input type="text" class="form-control" v-model="formModel[c].username" placeholder="Username"> <br>

      <input type="text" class="form-control" v-model="formModel[c].password" placeholder="Password"> <br>

      <select v-model="formModel[c].authType" placeholder="Auth Type" class="form-control">
        <option selected disabled>-- Select Auth Type --</option>
        <option value="Basic">Basic</option>
        <option value="Digest">Digest</option>
      </select> <br>

      <input type="text" class="form-control" v-model="formModel[c]['LPR Camera Address']"
        placeholder="LPR Camera Address"> <br>

      <div class="invalid-feedback" v-if="error[c]">
        {{ error[c].join(', ') }}
      </div>
    </div>
  </div>

</form>