<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Camera</title>
</head>

<body>
  <img src="data:image/jpeg;base64,<%= src  %>" alt="" style="width: 100%">
</body>

</html>