<div id="app">
  <h1 class="my-3">Gates</h1>


  <p>
    <button type="button" class="btn btn-primary" @click="openForm()">Add New Gate</button>
  </p>

  <div v-if="message" class="alert alert-info">
    {{ message }}
  </div>

  <table class="table table-striped" id="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Manless</th>
        <th>Camera In</th>
        <th>Camera Out</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(el, index) in gates">
        <td>
          {{ ++index }}
        </td>
        <td>
          <strong>{{ el.name }}</strong> <br>
          {{ el.host }}:{{ el.port }}
        </td>
        <td v-for="c in ['cameraIn', 'cameraOut']" :key="c">
          <strong>Snapshot URL:</strong> <a target="_blank" :href="`/gates/camera/${el.id}/${c}`">{{
            el[c].snapshotUrl
            || '-' }}</a> <br>
          <strong>Username/Pass:</strong> {{ el[c].username || '-' }}/{{ el[c].password || '-' }} <br>
          <strong>Auth Type:</strong> {{ el[c].authType || '-' }}<br>
          <strong>LPR Camera Address:</strong> {{ el[c]['LPR Camera Address'] || '-' }}<br>
        </td>
        <td class="text-center">
          <button type="button" @click="openForm(el)" class="btn btn-primary btn-sm me-2">Edit</button>
          <button type="button" @click="destroy(el.id)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="formModalLabel">{{ formTitle }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%- include('_form') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" @click="formModel.id ? update() : create()">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="module">
  const { createApp } = Vue

  createApp({
    data() {
      return {
        gates: [],
        message: null,
        error: {},
        formModel: {
          cameraIn: {},
          cameraOut: {},
        },
        modal: null,
        formTitle: 'Add New Gate'
      }
    },

    methods: {
      getData() {
        axios.get('/api/gates')
          .then(res => {
            this.gates = res.data;
          })
          .catch(err => console.log(err))
      },

      async destroy(id) {
        if (!confirm('Anda yakin akan menghapus gate ini?')) return;

        try {
          const res = await axios.delete(`/api/gates/${id}`)
          this.notifyAndRefresh(res.data.message)
        } catch (error) {
          this.message = error.response.data
        }
      },

      openForm(data = { cameraIn: {}, cameraOut: {} }) {
        this.formTitle = data.id ? 'Edit Gate' : 'Add New Gate'
        this.formModel = JSON.parse(JSON.stringify(data))
        this.modal.show()
      },

      async create() {
        try {
          const res = await axios.post('/api/gates', this.formModel)
          this.notifyAndRefresh(res.data.message)
        } catch (error) {
          const { name, errors } = error.response.data
          if (name == 'ValidationError') {
            this.error = errors
          }
        }
      },

      async update() {
        const { id } = this.formModel;

        try {
          const res = await axios.put(`/api/gates/${id}`, this.formModel)
          this.notifyAndRefresh(res.data.message)
        } catch (error) {
          const { name, errors } = error.response.data
          if (name == 'ValidationError') {
            this.error = errors
          }
        }
      },

      notifyAndRefresh(message) {
        this.modal.hide()
        this.error = {}
        this.formModel = {
          cameraIn: {},
          cameraOut: {},
        }
        this.message = message
        this.getData()

        setTimeout(() => {
          this.message = null
        }, 5000)
      }
    },

    mounted() {
      this.modal = new bootstrap.Modal('#formModal', {})
      this.getData()
    },
  }).mount('#app')

</script>